/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/

html {
  background-color: #fafafa;;
}

.container {
  margin: 0 auto;
  padding: 24px;
}

.widget {
  width: 800px;
  height: inherit;
  margin: 0 auto;
  padding: 24px;
  border-radius: 10px;
  /*border: 1px solid #ccc;*/
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(40,40,40);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  height: 15px;
}

.half {
  width: 50%;
  float: left;
}


/* CURRENT */
.currentContainer {
  height: 200px;
  text-align: left;
  padding: 10px;
}

.currentContainer i {
  margin-top: 6px;
  font-size: 3.5em;
  width: 100%;
  margin-bottom: 4px;
  text-align: center;
  
}

.tempGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  text-align: center;
  float: left;
}

.temperature {
  float: left;
  color: rgb(23, 23, 23);
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
}

.location {
  width: 50%;
  float: left;
}

.title {
  height: 20px;
  float: left;
  text-transform: uppercase;
  letter-spacing: .4em;
  margin-top:2px;
}

.title img {
  height: 16px;
  width: 16px;
  margin-right:8px;
  float: left;
}

.units {
  width: 50%;
  float: right;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
}

.invisibleButton {
  font-family: 'Open Sans', sans-serif;
  float: right;
  color: rgb(23, 23, 23);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  border: none;
  outline:none;
  width: 30px;
  height: 20px;
  border-radius: 4px;
  margin-top: 2px;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

.invisibleButton:hover {
  background-color: rgba(100,100,100,.1);
}

.divider {
  font-family: 'Open Sans', sans-serif;
  float: right;
  color: rgb(200, 200, 200);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 40px;
  height: 20px;
  margin-top: 2px;
}




.description {
  width: 100%;
  float: left;
  color: rgb(23, 23, 23);
  font-size: 18px;
  text-align: left;
  text-transform: capitalize;
  text-align: center;
  margin-top:190px;
}



/* FORECAST */

.forecastContainer {
  width: 100%;
  margin-top:40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
}

.forecastDay {
  width: 180px;
  height: 188px;
  border-radius: 4px;
  margin: 10px;
  /*padding: 24px;*/
  background-color:#fff;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 0.5px 1px;
  transition: all 0.333s ease-out 0s;
}

.forecastDay:hover {
  transform: translate3d(0px, -1px, 0px);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 25px, rgba(0, 0, 0, 0.08) 0px 4px 11px;
}

.cardHeader {
  width: 100%;
  height: 16px;
  float: left;
  border-bottom: 1px solid rgba(115, 115, 115, 0.1);
  padding: 12px 0px;
}

.forecastDay i {
  margin-top: 28px;
  font-size: 3.5em;
  height: 70px;
}

.cardFooter {
  width: 100%;
  height: 16px;
  float: left;
  padding: 12px 0px;
}

.banner {
  width: 100%;
  /*background: linear-gradient(to left, #da5da5 20%, #c06a9b 40%, #f97d88 60%);*/
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 36px;
}
